Repository ppak10-archives/react-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, git add ., npx stylelint --fix

Updates configuration for webpack bundle outputs
  .babelrc
  README.md
  app.json
  index.html
  package.json
  webpack.config.js
Due: npx prettier --write, npx eslint --fix, git add .

Adds in express backend and updates config for local and express backend
  README.md
  app.json
  index.js
  package-lock.json
  package.json
  webpack.config.js
Due: npx prettier --write, npx eslint --fix, git add .

Updates README.md and package.json scripts
  .gitignore
  README.md
  app.json
  index.js
  package-lock.json
  package.json
  public/index.html
  webpack.config.js
Due: npx prettier --write, npx eslint --fix, git add .

Adds changes to the README.md and configuration files for use with development environments
  README.md
  app.json
  package.json
  webpack.config.js
Due: npx prettier --write, npx eslint --fix, git add .

Updates packages and README.md with Windows 10 development environment instructions
  README.md
  package-lock.json
  package.json
Due: none

Adds style imports and moves AppProvider to index.js entry file
  .babelrc
  src/components/App.jsx
  src/index.js
  src/styles/main.less
Due: npx prettier --write, npx eslint --fix, git add ., npx stylelint --fix

Path conditions:
  npx prettier --write: (any of: *.{js,jsx}) or (any of: *.less)
  npx eslint --fix: any of: *.{js,jsx}
  git add .: (any of: *.{js,jsx}) or (any of: *.less)
  npx stylelint --fix: any of: *.less
